Repository gluster/gcs, pull requests merged in 2019-02, with the labels that each got.

#128 Switch gluster CSI driver container image
  deploy/templates/gcs-manifests/gcs-csi.yml.j2
Labels: GCS/1.0, in progress

#131 address review comments on deployment doc
  doc/deploying_gcs_on_bare_metal_machines.md
Labels: in progress

#130 Add gluster virtblock CSI driver
  deploy/README.md
  deploy/deploy-gcs.yml
  deploy/templates/gcs-manifests/gcs-fs-csi.yml.j2
  deploy/templates/gcs-manifests/gcs-storage-virtblock.yml.j2
  deploy/templates/gcs-manifests/gcs-virtblock-csi.yml.j2
Labels: GCS/1.0, in progress

#132 Added documentation and a few style fixes
  _config.yml
  _layouts/default.html
  _posts/2019-01-11-gluster-container-storage-0-5-release.md
  _posts/2019-01-31-glustercs-1.0-released.md
  css/glustercs.css
  doc/block-volumes.md
  doc/file-volumes.md
  doc/installation.md
  doc/monitoring.md
  doc/quick-start-guide.md
  doc/thin-arbiter-volumes.md
  images/graph.jpg
  pages/001-file-volumes.md
  pages/002-block-volumes.md
  pages/003-thin-arbiter.md
  pages/004-powered-by-gluster.md
  pages/005-ease-of-use.md
  pages/006-monitoring.md
Labels: in progress

#133 Make /run/udev available to gd2 container from host
  deploy/templates/gcs-manifests/gcs-gd2.yml.j2
Labels: GCS/1.0, bug, in progress

#137 Make /dev available to glustervirtblock-nodeplugin
  deploy/templates/gcs-manifests/gcs-virtblock-csi.yml.j2
Labels: GCS/1.0, in progress

#139 Change the pod names of csi glusterfs to be similar to csi virtblock
  deploy/deploy-gcs.yml
  deploy/templates/gcs-manifests/gcs-fs-csi.yml.j2
  deploy/templates/gcs-manifests/gcs-virtblock-csi.yml.j2
Labels: in progress

#142 Changed `glustercsctl` tool as kubectl plugin
  doc/installation.md
  doc/quick-start-guide.md
  pages/005-ease-of-use.md
Labels: in progress
